@import '../../../sass/vars';
@import '../../../sass/mixins';

.role-container {
  display: flex;
  font-size: 13px;
  padding: 1px 5px;
  border-style: solid;
  border-width: 1px;
  border-radius: 100px;
  margin-right: 10px;
  margin-bottom: 10px;

  div {
    width: 0.8em;
    height: 0.8em;
    @include my-auto;
    @include round;
  }

  p {
    margin: 0 0 0 7px;
  }
}
