/* DISCORD COLOR CI */
$c-blurple: #5865f2;
$c-greyple: #99aab5;
$c-darkbnb: #202020;
$c-nqblack: #171717;
$c-red: #ed4245;
$c-orange: #f57c00;
$c-yellow: #fbc02d;
$c-green: #43a047;
$c-lime: #57f287;
$c-cyan: #03a9f4;
$c-purple: #eb459e;

$c-bg-general: $c-darkbnb;
$c-font-general: white;
$c-font-gray: #bdbdbd;

$guild-settings-nav-width: 200px;
