<app-guild-admin-navbar></app-guild-admin-navbar>
<div class="guild-settings-container">
    <app-spinner *ngIf="!antiraidSettings" [started]="true"></app-spinner>
    <div *ngIf="antiraidSettings">

        <app-slider [(ngModel)]="antiraidSettings.state">Antiraid-System enabled</app-slider>

        <div class="mt-3 mw">
            <h3>Explaination</h3>
            <i class="small">
                The antiraid system works with the <a href="https://en.wikipedia.org/wiki/Token_bucket" target="_blank">token bucket</a>
                system. It works like a bucket which can fit the number of <span class="embeded">Burst Amounts</span> of tokens. At the start,
                the bucket is completely filled up with tokens.
                Every time a member joins, one of these tokens is consumed and every time, the specified 
                <span class="embeded">Regeneration Period</span> is elapsed, one token is added to the bucket until it is
                full again. If the bucket is empty and another token is tried to be reserved, the antiraid system triggers.<br />
                Following, the servers <span class="embeded">verification level</span> is set to <span class="embeded">highest</span>
                and over the next 24 hours, all joining members are listed in the joinlog below. This list is then saved for the following
                48 hours after the system has triggered.
            </i>
        </div>

        <div class="mt-4 mw">
            <label for="i-regeneration">
                Regeneration Duration<br />
                <i class="small">This is the average, nominal amount of seconds between two users join your server. 
                    Maybe under or overcut this value as you prefer or as it works bet on your guild.</i>
            </label>
            <input id="i-regeneration" type="number" min="1" [(ngModel)]="antiraidSettings.regeneration_period">
        </div>

        <div class="mt-4 mw">
            <label for="i-burst">
                Burst Amounts<br />
                <i class="small">This is the amount of users which can join in a short period of time without triggering
                    the antiraid system. It works like a buffer which increases by one per join and decreases
                    every elapse of the regeneration duration defined above.
                </i>
            </label>
            <input id="i-burst" type="number" min="1" [(ngModel)]="antiraidSettings.burst">
        </div>

        <div class="mt-5">
            <button (click)="onSave()">SAVE</button>
        </div>

        <div class="mt-5">
            <div class="d-flex justify-content-between">
                <h3>Antiraid Joinlog Records</h3>
                <div>
                    <button (click)="onDownloadJoinlog()" class="sec-btn mr-2" [disabled]="joinlog?.length < 1" title="Download as JSON">
                        <img height="25" src="/assets/download.svg"/>
                    </button>
                    <button (click)="flushJoinlog()" class="refresh sec-btn mr-2" title="Delete all list entries">
                        <img height="25" src="/assets/delete.svg"/>
                    </button>
                    <button (click)="fetchJoinlog()" class="refresh sec-btn" title="Refresh">
                        <img height="25" src="/assets/refresh.svg"/>
                    </button>
                </div>
            </div>
            <div class="mt-4">
                <i *ngIf="joinlog?.length < 1; else joinlogTable">No entries available currently.</i>
                <ng-template #joinlogTable>
                    <i class="small">The data in this table only persists for 48 hours after the trigger of the antiraid system.</i>
                    <table class="w-100 mt-2">
                        <tbody>
                            <tr>
                                <th>User ID</th>
                                <th>Tag</th>
                                <th>Timestamp</th>
                            </tr>
                            <tr *ngFor="let e of joinlog">
                                <td>{{ e.user_id }}</td>
                                <td>{{ e.tag }}</td>
                                <td>{{ dateFormat(e.timestamp, 'yyyy.mm.dd - HH:MM:ss Z') }}</td>
                            </tr>
                        </tbody>
                    </table>
                </ng-template>
            </div>
        </div>
    </div>
</div>