@import '../../../sass/mixins';
@import '../../../sass/vars';

.search-bar {
  display: flex;
  margin-top: 20px;
  margin-bottom: 40px;

  > input {
    width: 100%;
    margin-left: 20px;
    margin-right: 20px;
  }
}

button.back-top {
  position: fixed;
  bottom: 20px;
  left: 20px;
  opacity: 0.5;
  background-color: rgba(black, 0.35);
  /* border: solid 1px white */
  border-radius: 10px !important;
  @include transition25;

  > img {
    transform: rotate(-90deg);
  }

  &:hover {
    opacity: 1;
  }
}

.group-tile-container {
  position: relative;
  display: flex;
  flex-wrap: wrap;

  @media only screen and (min-width: 1600px) {
    display: block;
    position: fixed;
    top: 75px;
    right: 20px;
    width: calc(50% - 1100px / 2);
    max-width: 600px;
  }

  .group-tile {
    background-color: rgba(black, 0.15);
    border-radius: 10px;
    padding: 15px;
    margin: 0 10px 10px 0;
    width: 100%;

    @media only screen and (min-width: 900px) and (max-width: 1600px) {
      width: calc(33% - 10px);
    }

    > h5 {
      padding-bottom: 10px;
    }

    > div {
      display: flex;
      flex-wrap: wrap;

      > a {
        /* background-color: rgba(black, 0.3) */
        border-radius: 100px;
        font-size: 0.9em;
        padding: 3px 8px;
        margin: 5px 5px 0px 0;
        border: solid 1px rgba(white, 0.4);
        @include hover-btn(1.03, 3px);
      }
    }
  }
}

.command-tile {
  width: 100%;
  background-color: rgba(black, 0.15);
  border-radius: 8px;
  padding: 15px;
  margin-top: 20px;

  .invoke {
    background-color: rgba(black, 0.5);
    border-radius: 5px;
    padding: 2px 6px;
    margin-right: 5px;
    font-size: 14px;
  }

  .details {
    position: relative;
    border-left: solid 2px white;
    padding: 5px 0 5px 12px;

    > h6 {
      text-transform: uppercase;
      font-size: 12px;
      margin-bottom: 5px !important;
    }

    &::ng-deep {
      p,
      ul {
        margin: 0;
      }

      pre {
        color: white;
      }
    }
  }

  .dmc-badge {
    font-size: 9px;
    padding: 2px 5px;
    color: $c-lime;
    border: solid 1px $c-lime;
    border-radius: 100px;
    margin-left: 10px;
  }
}

.group-header {
  margin-top: 50px !important;
}

.capitalize {
  text-transform: capitalize;
}
