#container {
  width: 90vw;
  max-width: 600px;
  height: 60vh;
}

#searchbar {
  border: solid 1px white !important;
  border-radius: 500px;
  padding: 8px 12px;
  outline: none;
  width: 100%;
  margin-bottom: 20px;
}

.result-container {
  overflow-y: auto;
  height: 100%;

  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.15);
    border-radius: 5px;
  }

  &::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.15);
    border-radius: 5px;
  }

  > div {
    margin-bottom: 20px;
    background-color: rgba(0 0 0 / 30%);
    padding: 10px;
    border-radius: 10px;

    .tile {
      display: flex;
      align-items: center;
      margin: 10px 0px;
      transition: all 0.2s ease;
      border-radius: 10px;
      cursor: pointer;
      overflow: hidden;
      white-space: nowrap;

      p {
        margin: 0;
      }

      > img {
        border-radius: 100%;
        margin-right: 20px;
        width: 50px;
      }

      &:hover {
        background-color: rgba(white, 10%);
      }

      &:last-child {
        margin-bottom: 0px;
      }

      .small {
        color: #7b7b7b;
      }
    }
  }
}

.selected {
  background-color: rgba(white, 10%);
}
