@import '../../../sass/vars';

.popup {
  background-color: darken($c-bg-general, 10%);
  border-radius: 10px;
  z-index: 2;
  box-shadow: 0 5px 20px 5px rgba(black, 0.5);

  .element {
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 10px;

    &:hover {
      background-color: rgba(255, 255, 255, 0.3);
    }
  }
}
