@import '../../../sass/vars';
@import '../../../sass/mixins';

.message {
  width: 100%;
  height: 100px;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
}

.empty-list {
  text-align: center;
  margin-top: 20vh;
  opacity: 0.6;
}
