.vsc/*
private.*
bin/*
*.exe
*.db
vendor/
web/node_modules/
web/dist/
__debug_bin
deploy/
./data/
.vscode/.ropeproject
cmd/test/*
.DS_Store
web/.angular/
internal/util/embedded/webdist/*
!internal/util/embedded/webdist/keep
web_old/
.task/
release/
.unused-assets/
.vscode/settings.json
