<div>
    <app-spinner id="spinner-load-member" [started]="true"></app-spinner>
    <div *ngIf="member && guild">

        <div id="heading-container">
            <img [src]="member.avatar_url"/>
            <div>
                <div class="d-flex">
                    <h3>{{ member.user.username }}#{{ member.user.discriminator }}</h3>
                    <p *ngIf="member.user.bot" class="bot-tag">BOT</p>
                    <p class="embeded">{{ member.user.id }}</p>
                </div>
                <p *ngIf="member.nick" class="font-gray">aka. "{{ member.nick }}"</p>
            </div>
        </div>

        <div class="d-flex">
            <app-rolebadge *ngFor="let r of memberRoles" [role]="r"></app-rolebadge>
        </div>

        <h4 class="mt-4">General User Information</h4>
        <table id="general-user-info" class="mt-2">
            <tbody>
                <tr>
                    <th>Joined Guild</th>
                    <td>{{ dateFormat(member.joined_at, "ddd, mmm dS, yyyy - HH:MM:ss Z") }}</td>
                </tr>
                <tr>
                    <th>Created Account</th>
                    <td>{{ dateFormat(member.created_at, "ddd, mmm dS, yyyy - HH:MM:ss Z") }}</td>
                </tr>
                <tr>
                    <th>Permissions</th>
                    <td>
                        <app-spinner id="spinner-load-permissions" *ngIf="!perm; else permsview" [started]="true" [small]="true"></app-spinner>
                        <ng-template #permsview>
                            <div class="d-flex overflow-wrap">
                                <p 
                                    *ngFor="let p of getPerms(true)" 
                                    class="permissions embeded allowed"
                                >{{ p }}</p>
                            </div>
                            <div class="d-flex overflow-wrap">
                                <p 
                                    *ngFor="let p of getPerms(false)" 
                                    class="permissions embeded disallowed"
                                >{{ p }}</p>
                            </div>
                        </ng-template>
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="d-flex mt-4 mb-2">
            <h4>Reports</h4>
            <p *ngIf="reports.length" class="reports-count">{{ reports.length }}</p>
        </div>
        <app-spinner *ngIf="!reports" id="spinner-load-reports" [started]="true"></app-spinner>
        <div>
            <i *ngIf="reports.length === 0">{{ member.user.username }} has a white vest! 👌</i>
            <app-report *ngFor="let rep of reports" [report]="rep" [victim]="member"></app-report>
        </div>

    </div>
</div>