<div class="karma-container">
    <h6 class="mb-2">Karma Scoreboard</h6>
    <app-spinner id="spinner-load-permissions" *ngIf="scoreboard == null; else scoreboardContainer" [started]="true"></app-spinner>
    <ng-template #scoreboardContainer>
        <i *ngIf="scoreboard.length < 1">Scoreboard is empty. :(</i>
        <a 
            *ngFor="let s of scoreboard; index as i" 
            class="scoreboard-entry"
            routerLink="/guilds/{{ guildID }}/{{ s.member.user.id }}"
            title="{{s.member.user.username}}#{{s.member.user.discriminator}}"
        >
            <span class="index">#{{ i + 1 }}</span>
            <img [src]="s.member.avatar_url | discordAsset:'':32"/>
            <p class="m-0 ellipsis">{{s.member.user.username}}#{{s.member.user.discriminator}}</p>
            <app-karma-tile class="ml-auto pl-2" [value]="s.value" [small]="true"></app-karma-tile>
        </a>
    </ng-template>
</div>