@import '../../../sass/vars'
@import '../../../sass/mixins'
    
#header
    height: 50px
    display: flex
    background-color: $c-nqblack
    padding: 10px 10px

    .avatar
        height: 30px
        width: 30px
        border-radius: 50%
        +my-auto

    #heading
        font-size: 25px
        +my-auto

    #user-info
        margin-right: 0
        margin-left: auto

        p
            +my-auto
            margin-right: 15px