@import '../../../sass/vars';
@import '../../../sass/mixins';

.part-container {
  display: flex;
  position: relative;
  align-items: center;
  padding: 10px;
  border-radius: 150px;
  background-color: $c-nqblack;

  > * {
    z-index: 1;
  }

  > .load-indicator {
    position: absolute;
    background-color: $c-blurple;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    border-radius: 1000px;
    transition: all 1s ease;

    &.loading {
      opacity: 1;
      @keyframes kf-loading {
        0% {
          width: 0%;
        }
        100% {
          width: 100%;
        }
      }
      animation: kf-loading 10s cubic-bezier(0.05, 0.82, 0.01, 1);
    }
  }
}

.dropdown-popup {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10 !important;
  transform: translate(0, 55px);
  width: 100%;
}

.popup-entry {
  display: flex;

  p {
    margin-left: 10px;
    margin-right: 0 !important;
    text-transform: capitalize;
    font-size: 0.9em;
  }

  img {
    width: 15px;
    height: 15px;
    @include my-auto;
  }
}

#header {
  top: 0;
  left: 0;
  right: 0;
  padding: 14px 20px 0 20px;
  display: flex;
  align-items: center;
  z-index: 10;
  position: fixed;
  pointer-events: none;

  > * {
    pointer-events: all;
  }

  h1 {
    font-size: 26px;
  }

  .avatar {
    height: 30px;
    width: 30px;
    @include round;
  }

  #heading {
    font-size: 25px;
  }

  #user-info {
    position: relative;
    margin-right: 0;
    margin-left: auto;
    border-radius: 100px;
    cursor: pointer;

    .avatar {
      height: 25px;
      width: 25px;
    }

    .dropdown-btn {
      font-size: 12px;
      margin: 0 15px 0 10px;
      border-radius: 3px;
      cursor: pointer;
      @include my-auto;
    }

    p {
      @include my-auto;
      margin-right: 15px;
    }
  }

  .routes {
    display: flex;
    align-items: center;
    margin-left: 20px;

    a {
      padding: 5px 10px;
      background-color: rgba(0, 0, 0, 0.3);
      margin-right: 5px;
      border-radius: 100px;
      opacity: 0.8;
      transition: all 0.2s ease;
      font-size: 0.8em;
      &:hover {
        opacity: 1;
      }
    }
  }
}

.btn-login {
  padding: 4px 14px;
  display: flex;
  align-items: center;
  border-radius: 150px !important;
  margin: 15px 5px 0 0;
}

.dropdown-icon {
  width: 9px;
  margin: 0 15px 0 10px;
  transform: rotate(180deg);
  transition: transform 0.3s ease-in-out;
}

@media only screen and (max-width: 900px) {
  #header {
    .routes {
      display: none;
    }
  }
}
