<!-- @format -->

<div id="header" class="container-fluid">
  <a class="d-flex" routerLink="/guilds">
    <img id="sp-logo" height="30" src="/assets/shinpuru-logo.png" />
  </a>

  <div class="routes">
    <span *ngFor="let r of routes; index as i">
      <img *ngIf="i > 0" height="10" width="10" src="/assets/arrow.svg" class="mr-1" />
      <a [routerLink]="r[1]">{{ r[0] }}</a>
    </span>
  </div>

  <div *ngIf="selfUser?.id; else tmpLogin" id="user-info" class="d-flex" (click)="popupVisible = true">
    <app-popup
      *ngIf="popupVisible"
      class="dropdown-popup"
      [elements]="popupElements"
      (closing)="popupClose($event)"
    ></app-popup>
    <a class="dropdown-btn">&#9660;</a>
    <p>{{ selfUser.username }}#{{ selfUser.discriminator }}</p>
    <img class="avatar" [src]="selfUser.avatar_url | discordAsset:'':32" />
  </div>

  <ng-template #tmpLogin>
    <div class="d-flex ml-auto">
      <a (click)="onLogin()">
        <button class="btn-login">
          <img height="14" class="mr-2" src="/assets/dc-logo.svg"/>
          <span>LOGIN</span>
        </button>
      </a>
    </div>
  </ng-template>
</div>

<ng-template #logout>
  <div class="popup-entry">
    <img src="/assets/logout.svg" />
    <p>logout</p>
  </div>
</ng-template>

<ng-template #settings>
  <div class="popup-entry">
    <img src="/assets/settings.svg" />
    <p>bot settings</p>
  </div>
</ng-template>

<ng-template #sysinfo>
  <div class="popup-entry">
    <img src="/assets/info.svg" />
    <p>info</p>
  </div>
</ng-template>

<ng-template #usersettings>
  <div class="popup-entry">
    <img src="/assets/settings.svg" />
    <p>user settings</p>
  </div>
</ng-template>

<ng-template #documentation>
  <div class="popup-entry">
    <img src="/assets/documentation.svg" />
    <p>docs</p>
  </div>
</ng-template>

<ng-template #commands>
  <div class="popup-entry">
    <img src="/assets/commands.svg" />
    <p>commands</p>
  </div>
</ng-template>
