<app-guild-admin-navbar></app-guild-admin-navbar>
<div class="guild-settings-container">
  <div>
    <h3>Code Execution</h3>
    <p class="mt-4">
      When enabled, the bot detects code snippets in the chat and adds a
      reaction to execute the code in the snippet. The reuslt is then directly
      posted into the chat.
    </p>
    <div *ngIf="!state">
      <app-skeleton-tile width="110px" height="30px"></app-skeleton-tile>
    </div>
    <div *ngIf="state">
      <app-slider [(ngModel)]="state.enabled">Enable</app-slider>
      <div *ngIf="state.enabled && isJdoodle && emptyCreds" class="warning">
        Code execution is stil disabled until JDoodle credentials are provided.
      </div>

      <div *ngIf="isJdoodle; else isRanna" class="mt-4">
        <div class="d-flex">
          <h4>JDoodle Settings</h4>
          <button
            class="btn-reset"
            (click)="resetCredentials()"
            [disabled]="emptyCreds"
          >
            Reset Credentials
          </button>
        </div>
        <p class="mt-4">
          shinpuru is globally configured to use
          <a href="https://www.jdoodle.com" target="_blank" class="link"
            >JDoodle</a
          >
          as code execution engine. Because of that, credentials are provided on
          a per guild basis so that you can use your own plan for your guild.
          <a
            href="https://www.jdoodle.com/compiler-api/"
            target="_blank"
            class="link"
            >Here</a
          >
          you can acquire your JDoodle API credentials.
        </p>
        <div class="mt-3">
          <label for="i-clientid">Client ID</label>
          <input
            id="i-clientid"
            type="text"
            [(ngModel)]="state.jdoodle_clientid"
          />
        </div>
        <div class="mt-3">
          <label for="i-clientid">Client Secret</label>
          <input
            id="i-clientid"
            type="password"
            [(ngModel)]="state.jdoodle_clientsecret"
          />
        </div>
      </div>

      <div class="d-flex mt-4">
        <button (click)="saveSettings()">Save Settings</button>
      </div>
    </div>
  </div>
</div>

<ng-template #isRanna>
  shinpuru is globally configured to use
  <a href="https://app.ranna.zekro.de" target="_blank" class="link">ranna</a> as
  code execution engine.
</ng-template>
