<app-guild-admin-navbar></app-guild-admin-navbar>
<div class="guild-settings-container">
  <div>
    <app-spinner *ngIf="!karmaSettings" [started]="true"></app-spinner>
    <div *ngIf="karmaSettings">
      <app-slider [(ngModel)]="karmaSettings.state"
        >Karma-System enabled</app-slider
      >

      <h3 class="mb-2">Emotes</h3>
      <i class="small"
        >Tipp: On Windows 10, press the windows key and the point/colon key
        together to open an emote keyboard.</i
      >
      <div class="d-flex">
        <div class="mt-3 mr-3">
          <label for="i-emotes-inc">Increase Karma</label>
          <input
            id="i-emotes-inc"
            type="text"
            [value]="karmaSettings.emotes_increase.join(', ')"
            (input)="onIncChange($event)"
          />
        </div>
        <div class="mt-3">
          <label for="i-emotes-dec">Decrease Karma</label>
          <input
            id="i-emotes-dec"
            type="text"
            [value]="karmaSettings.emotes_decrease.join(', ')"
            (input)="onDecChange($event)"
          />
        </div>
      </div>

      <h3 class="mt-4">Tokens</h3>
      <div class="mt-2">
        <label for="i-tokens"
          ><i class="small"
            >The ammount of up and downvotes a user can perform per hour.</i
          ></label
        >
        <input
          id="i-tokens"
          type="number"
          min="1"
          [(ngModel)]="karmaSettings.tokens"
        />
      </div>

      <h3 class="mt-4">Penalty</h3>
      <div class="mt-2">
        <label for="i-tokens"
          ><i class="small"
            >When enabled, every karma decrease is payed with 1 karma point of
            the executors own karma account.</i
          ></label
        >
        <div class="mt-3">
          <app-slider [(ngModel)]="karmaSettings.penalty"
            >Enable Karma penalty</app-slider
          >
        </div>
      </div>

      <div class="mt-3">
        <button (click)="onSave()">Save</button>
      </div>
    </div>

    <app-spinner *ngIf="!rules" [started]="true"></app-spinner>
    <div *ngIf="rules" class="mt-5">
      <h3 class="mb-2">Rules</h3>
      <div class="mt-3 rule-container">
        <span class="mr-2">When a users karma</span>
        <select
          class="mr-2"
          [value]="newRule.trigger"
          (change)="onRuleTriggerChange($event.target.value)"
        >
          <option value="1">rises above</option>
          <option value="0">drops below</option>
        </select>
        <input
          class="mr-2 karma-rule-input"
          type="number"
          [(ngModel)]="newRule.value"
        />
        <span class="mr-2">points</span>
        <span class="mr-2">then</span>
        <select class="mr-2" [(ngModel)]="newRule.action">
          <option value="TOGGLE_ROLE">toggle role</option>
          <option value="KICK">kick member</option>
          <option value="BAN">ban member</option>
          <option value="SEND_MESSAGE">send message</option>
        </select>
        <div *ngIf="newRule.action === 'TOGGLE_ROLE'">
          <input
            type="text"
            placeholder="role resolvable"
            [(ngModel)]="newRule.argument"
          />
        </div>
        <div *ngIf="newRule.action === 'SEND_MESSAGE'">
          <input
            type="text"
            placeholder="message content"
            [(ngModel)]="newRule.argument"
          />
        </div>
        <span>.</span>
      </div>
      <div>
        <button class="mt-3" (click)="applyRule()">Apply Rule</button>
      </div>
      <div class="mt-4 rule-container">
        <div *ngFor="let r of rules" class="karma-rule">
          When a users karma
          <span class="embedded">{{ ruleTrigger(r.trigger) }}</span
          >&nbsp;<span class="embedded">{{ r.value }}</span
          >&nbsp;points then&nbsp;
          <span class="embedded">{{ ruleAction(r.action) }}</span>
          <span *ngIf="r.action === 'TOGGLE_ROLE'"
            >with id <span class="embedded">{{ r.argument }}</span></span
          >
          <span *ngIf="r.action === 'SEND_MESSAGE'" class="message-content"
            >with content <span class="embedded">{{ r.argument }}</span></span
          >
          .
          <button class="btn-rule-remove ml-2" (click)="removeRule(r)"></button>
        </div>
      </div>
    </div>

    <app-spinner *ngIf="!blocklist" [started]="true"></app-spinner>
    <div *ngIf="blocklist" class="mt-5">
      <h3 class="mb-2">Blocklist</h3>
      <i class="small"
        >Blocked members are neither able to give or remove karma of other
        members nor able to gain karma points from other users.</i
      >
      <div class="d-flex mt-3">
        <input
          #iMemberBlock
          class="w-100 mr-3"
          type="text"
          placeholder="Member ID, username or nickname"
        />
        <button class="nowrap" (click)="onMemberBlock(iMemberBlock.value)">
          Add to Blocklist
        </button>
      </div>
      <table class="w-100 mt-4">
        <tbody>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Nick</th>
            <th>Unblock</th>
          </tr>
          <tr *ngFor="let m of blocklist">
            <td>{{ m.user.id }}</td>
            <td>{{ m.user.username }}#{{ m.user.discriminator }}</td>
            <td>{{ m.nick || m.user.username }}</td>
            <td>
              <button (click)="onMemberUnblock(m.user.id)">Unblock</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
