@import '../../../sass/vars';
@import '../../../sass/mixins';

.starboard-entry-container {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  margin-bottom: 10px;
  padding: 5px;
  max-width: 100%;
  @include hover-btn(1.01, 5px);

  .header {
    display: flex;
    margin-bottom: 5px;
    > img {
      border-radius: 50%;
      margin-right: 10px;
      width: 24px;
      height: 24px;
    }
    > .score {
      margin-left: auto;
      padding: 2px 3px 2px 10px;
      border-radius: 100px;
      border: solid 1px $c-orange;
    }
  }

  > .content {
    font-size: 0.92em;
  }

  > .media {
    display: flex;
    flex-wrap: wrap;
    > * {
      width: 100%;
      max-width: 280px;
    }
  }
}
