@import '../../../../sass/vars';
@import '../../../../sass/mixins';

.settings-tile {
  background-color: $c-nqblack;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;

  > div {
    display: flex;
  }

  h5 {
    margin-bottom: 10px !important;
  }

  button {
    padding: 5px 15px;
    margin-left: auto;
    margin-right: 0px;
    height: fit-content;
  }

  @media screen and (max-width: 750px) {
    > div {
      flex-direction: column;
      > * {
        margin-top: 20px;
      }
      input,
      button,
      select {
        width: 100%;
        margin-left: 0 !important;
      }
    }
  }
}

.message-inpt {
  width: 50%;
  min-width: 100px;
}
