<div>
    <app-spinner id="spinner-load-guild" [started]="true"></app-spinner>
    <div *ngIf="guild">

        <div id="heading-container">
            <img [src]="guild.icon ? guild.icon_url : '/assets/dc-logo.svg'"/>
            <h3>{{ guild.name }}</h3>
            <p class="embeded">{{ guild.id }}</p>
        </div>

        <div id="user-info" class="mb-4">
            <img [src]="guild.self_member.avatar_url"/>
            <a class="info-container" routerLink="/guilds/{{guild.id}}/{{guild.self_member.user.id}}">
                <div class="d-flex overflow-wrap">
                    <h4 class="mr-3">{{ guild.self_member.nick || guild.self_member.user.username }}</h4>
                    <p class="embeded">{{ guild.self_member.user.id }}</p>
                </div>
                <div class="d-flex">
                    <div *ngFor="let r of userRoles">
                        <app-rolebadge [role]="r"></app-rolebadge>
                    </div>
                </div>
            </a>
        </div>

        <div class="d-flex">
            <h4>GUILD MEMBERS</h4>
            <app-spoiler class="ml-3" [(ngModel)]="guildToggle"></app-spoiler>
        </div>
        <div *ngIf="guildToggle">
            <input type="text" class="my-2" placeholder="search member" (input)="searchInput($event)"/>
            <div id="users-container" class="d-flex overflow-wrap mt-3">
                <app-member *ngFor="let m of members" [member]="m" [roles]="guild.roles" routerLink="/guilds/{{guild.id}}/{{m.user.id}}"></app-member>
            </div>
        </div>

        <div class="d-flex mt-4 mb-2">
            <h4>MOD LOG</h4>
            <app-spoiler class="ml-3" [(ngModel)]="modlogToggle"></app-spoiler>
        </div>
        <div *ngIf="modlogToggle">
            <app-report *ngFor="let rep of reports" [report]="rep"></app-report>
        </div>

    </div>
</div>