@import 'sass/vars'
@import 'sass/mixins'

@import url('https://fonts.googleapis.com/css?family=Montserrat:200,300&display=swap')
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap')


html, body
    background-color: $c-bg-general !important
    margin:  0
    padding: 0
    color:   $c-font-general !important
    font-family: 'Roboto', sans-serif

h1, h2, h3, h4, h5, h6
    font-family: 'Montserrat', sans-serif
    font-weight: 200

a
    color: $c-font-general !important
    text-decoration: none !important

button
    background-color: $c-blurple
    border-radius: 3px !important
    border-style: none
    color: white
    padding: 10px 20px
    +transition25(all)

    &:hover
        background-color: darken($c-blurple, 5)
        transform: translateY(-2px)