<app-guild-admin-navbar></app-guild-admin-navbar>
<div class="guild-settings-container">
  <div>
    <h3>User Verification</h3>
    <div class="beta-info mt-4">
      <h4>Beta</h4>
      <span
        >This feature is currently in beta state and therefore subject to bug
        occurences, future changes and extensions. If you notice any issues with
        the feature, please
        <a
          href="https://github.com/zekroTJA/shinpuru/issues/new?assignees=zekrotja&labels=bug&template=bug-report.yml"
          target="_blank"
          class="link"
          >file an issue on the issue tracker</a
        >.</span
      >
    </div>
    <p class="mt-4">
      When enabled, users are required to verify their account after joining the
      guild. They will receive a DM with a link to the
      <a routerLink="/verify" class="link">verification page</a> where they need
      to log in and solve a captcha to proof that they are not a bot. Until the
      verification is done, the user is timeouted on the guild and will be
      automatically kicked after a time period of 48 hours.
    </p>
    <div *ngIf="!state">
      <app-skeleton-tile width="110px" height="30px"></app-skeleton-tile>
    </div>
    <div *ngIf="state">
      <app-slider [(ngModel)]="enabled">Enable</app-slider>
      <div class="change-info" *ngIf="changeInfo">
        {{ changeInfo }}
      </div>
      <div class="d-flex mt-4">
        <button (click)="saveSettings()">Save Settings</button>
      </div>
    </div>
  </div>
</div>
