@import '../../../../sass/vars';
@import '../../../../sass/mixins';

.delete-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  .delete-button {
    background-color: $c-red;
    padding: 8px 20px;
    margin-bottom: 20px;
  }

  .slider {
    height: 40px;
    margin-bottom: 8px;
  }
}

.small {
  opacity: 0.9;
  font-size: 0.9em;
}
