name: Unit Tests

on:
  push:
    branches:
      - '*'
    paths:
      - "**.go"
      - ".github/workflows/**"

jobs:
  tests:
    name: Tests
    runs-on: ubuntu-latest

    steps:
      - name: Set up Go
        uses: actions/setup-go@v1
        with:
          go-version: '1.18'

      - name: Check out code into the Go module directory
        uses: actions/checkout@v2

      - name: Get dependencies
        run: |
          go get -v -t -d ./...

      - name: Run tests
        run: |
          go test -v -timeout 300s -covermode atomic -coverprofile=covprofile ./...

      - name: Upload Coverage Report
        env:
          COVERALLS_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GO111MODULE: off
        run: |
          go get github.com/mattn/goveralls
          goveralls -coverprofile=covprofile -service=github
